* { margin: 0; padding: 0; color: black; }
body { width: 100vw; height: 100vh; }
a { text-decoration: none;}
table { width: 800px; table-layout: fixed;}
table, th, td { border: 1px solid gray; border-collapse: collapse; text-align: center; padding: 5px; text-overflow: ellipsis; }
button { margin: 8px; padding: 8px; border-color: lightgray; border-radius: 5px; background-color: rgba(255, 255, 255, 1); box-shadow: none; }
.nav { width: 100vw; height: 70px;}
.nav a { float: right; padding: 20px; font-size: 20px; color: black; }
.route { position: absolute; left: 50%; top: 25%; transform: translate(-50%, -50%); }
.home p { text-align: center; margin-top: 15px; font-size: 30px; font-weight: bold; }
.postwrite, .postview { width: 90%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.postwrite > p, .postview p:first-child { padding-bottom: 20px; font-size: 17px; }
.postwrite input { height: 30px; font-size: 17px; }
.ql-editor { height: 670px !important; }
.postview .content { border: 1px solid gray; height: 670px;}
.notfound h1 { text-align: center; margin-top: 25%; }